In [94]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime,timedelta
import seaborn as sns
import matplotlib.pyplot as plt
from copy import deepcopy
import time
from timeit import default_timer as timer
import calendar
import datetime as dt
from timeit import default_timer as timer

import numpy as np
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from copy import deepcopy

In [95]:
df = pd.read_excel('card transactions.xlsx')

df

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
...,...,...,...,...,...,...,...,...,...,...
96748,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042.0,P,84.79,0
96749,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248.0,P,118.75,0
96750,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150.0,P,363.56,0
96751,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,92656.0,P,2202.03,0
96752,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606.0,P,554.64,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96753 entries, 0 to 96752
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Recnum             96753 non-null  int64
 1   Cardnum            96753 non-null  int64
 2   Date               96753 non-null  datetime64[ns]
 3   Merchnum           93378 non-null  object
 4   Merch description  96753 non-null  object
 5   Merch state        95558 non-null  object
 6   Merch zip          92097 non-null  float64
 7   Transtype          96753 non-null  object
 8   Amount             96753 non-null  float64
 9   Fraud              96753 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 7.4+ MB

In [711]:
#df = df.drop(columns=['Recnum'])

# Match zip&state

In [96]:
zipfile= pd.read_excel('zipcode range.xlsx')
zipfile

          State Name Merch state  Zip_min  Zip_max
0             Alaska          AK    99501    99950
1            Alabama          AL    35004    36925
2           Arkansas          AR    71601    72959
3            Arizona          AZ    85001    86556
4         California          CA    90001    96162
5           Colorado          CO    80001    81658
6        Connecticut          CT     6001     6928
7   Dist of Columbia          DC    20001    20799
8           Delaware          DE    19701    19980
9            Florida          FL    32004    34997
10           Georgia          GA    30001    31999
11            Hawaii          HI    96701    96898
12              Iowa          IA    50001    52809
13             Idaho          ID    83201    83876
14          Illinois          IL    60001    62999
15           Indiana          IN    46001    47997
16            Kansas          KS    66002    67954
17          Kentucky          KY    40003    42788
18         Louisiana          LA    70001    71497
19     Massachusetts          MA     1001     2791
20          Maryland          MD    20331    21930
21             Maine          ME     3901     4992
22          Michigan          MI    48001    49971
23         Minnesota          MN    55001    56763
24       kc96 DataMO          MO    63001    65899
25       Mississippi          MS    38601    39776
26           Montana          MT    59001    59937
27    North Carolina          NC    27006    28909
28      North Dakota          ND    58001    58856
29          Nebraska          NE    68001    69367
30     New Hampshire          NH     3031     3897
31        New Jersey          NJ     7001     8989
32        New Mexico          NM    87001    88441
33            Nevada          NV    88901    89883
34          New York          NY    10001    14975
35              Ohio          OH    43001    45999
36          Oklahoma          OK    73001    74966
37            Oregon          OR    97001    97920
38      Pennsylvania          PA    15001    19640
39       Puerto Rico          PR      600      999
40      Rhode Island          RI     2801     2940
41    South Carolina          SC    29001    29948
42      South Dakota          SD    57001    57799
43         Tennessee          TN    37010    38589
44             Texas          TX    75001    88589
45              Utah          UT    84001    84784
46          Virginia          VA    20040    24658
47           Vermont          VT     5001     5907
48        Washington          WA    98001    99403
49         Wisconsin          WI    53001    54990
50     West Virginia          WV    24701    26886
51           Wyoming          WY    82001    83128

In [97]:
outlier_index = np.where(df['Amount']==df['Amount'].max())[0][0]
outlier_index

52714

In [98]:
df=df.drop(df.index[52714])

In [99]:
df['Merch zip'].isnull().sum()

4655

In [100]:
df = df.merge(zipfile, on = ['Merch state'], how='left')
df

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,State Name,Zip_min,Zip_max
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,Tennessee,37010.0,38589.0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,Massachusetts,1001.0,2791.0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,Maryland,20331.0,21930.0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,Tennessee,37010.0,38589.0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,Tennessee,37010.0,38589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96747,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042.0,P,84.79,0,Kentucky,40003.0,42788.0
96748,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248.0,P,118.75,0,Ohio,43001.0,45999.0
96749,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150.0,P,363.56,0,Ohio,43001.0,45999.0
96750,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,92656.0,P,2202.03,0,California,90001.0,96162.0
96751,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606.0,P,554.64,0,New Jersey,7001.0,8989.0

In [717]:
#final=final.loc[final['Transtype']=='P']

In [718]:
#comparedf=df[(df['Merch zip']>=df['Zip_min'])&(df['Merch zip']<=df['Zip_max'])]
#comparedf.to_csv('comparedf.csv')

In [101]:
df_wrong=df[(df['Merch zip']<df['Zip_min'])|(df['Merch zip']>df['Zip_max'])]
df_wrong

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,State Name,Zip_min,Zip_max
229,230,5142132941,2010-01-03,9104096250000,STAPLES #218,WA,20005.0,P,301.80,0,Washington,98001.0,99403.0
247,248,5142124762,2010-01-04,9104096250000,STAPLES #218,WA,20005.0,P,62.95,0,Washington,98001.0,99403.0
307,308,5142226204,2010-01-04,4620000731201,PORTERS CAMERA STORE,IA,5.0,P,104.16,0,Iowa,50001.0,52809.0
382,383,5142253356,2010-01-04,8889817332,AT&T WORLDNET SERVICES,FL,7054.0,P,19.95,0,Florida,32004.0,34997.0
419,420,5142144790,2010-01-04,9104096250000,STAPLES #218,WA,20005.0,P,30.32,0,Washington,98001.0,99403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96422,96424,5142258334,2010-12-29,6070042550005,HOME DEPOT #129,GA,3060.0,P,163.14,0,Georgia,30001.0,31999.0
96522,96524,5142180447,2010-12-30,6887894784113,RANGEL DISTRIBUTING CO,KS,64101.0,P,47.04,0,Kansas,66002.0,67954.0
96551,96553,5142179846,2010-12-30,6887894784113,RANGEL DISTRIBUTING CO,KS,64101.0,P,84.00,0,Kansas,66002.0,67954.0
96683,96685,5142180447,2010-12-30,6887894784113,RANGEL DISTRIBUTING CO,KS,64101.0,P,28.82,0,Kansas,66002.0,67954.0
96702,96704,5142239684,2010-12-31,4063000739258,PC *PC CONNECTION,NH,97213.0,P,2246.57,0,New Hampshire,3031.0,3897.0

In [102]:
a=df_wrong.groupby(['Merch description','Merch state','Merch zip'])
list(a.groups)

[('A J ABRAMS CO INC', 'NJ', 6880.0),
 ('ABS GRP INC/GOVT INST DIV', 'MD', 2.0),
 ('ACD SYSTEMS', 'CA', 11111.0),
 ('ADVANCE AUTO PARTS #5125', 'MO', 66112.0),
 ('ADVANCED CHEM DEVELOPMEN', 'CA', 11111.0),
 ('ADVANCED LOCK & SAFE INC', 'GA', 20151.0),
 ('AGENT FEE   8908111473613', 'PA', 2.0),
 ('AGENT FEE   8908111473613', 'PA', 22209.0),
 ('AGENT FEE   8908117237329', 'TX', 22209.0),
 ('AGILENT', 'GA', 3.0),
 ('AIR & WASTE MGMT ASSOC', 'PA', 1.0),
 ('ALL IN ONE SUPPLY', 'CO', 90712.0),
 ('AMAC KC PUBS', 'KS', 12983.0),
 ('AMAZON.COM  *SUPERSTOR', 'WA', 9.0),
 ('AMERICAN CHEMICAL SCTY', 'DC', 2.0),
 ('AMERICAN SPEAKER', 'DC', 21742.0),
 ('AOAC INTERNATIONAL', 'MD', 2.0),
 ('AOL*ONLINE SERVICE 0200', 'VA', 2.0),
 ('APPLIED IND TECH   744', 'OH', 48108.0),
 ('APPLIED IND TECH  0239', 'OH', 27703.0),
 ('APPLIED MEMBRANES INC', 'OH', 92069.0),
 ('ARIZONA INSTRUMENTS', 'AZ', 95040.0),
 ('AT AND T CHERRY HILL', 'NJ', 80020.0),
 ('AT AND T WHEELING', 'WV', 15222.0),
 ('AT YOUR OFFICE', 'VA', 20004.0),
 ('AT&T WORLDNET SERVICES', 'FL', 7054.0),
 ('AT&T WS#1210210', 'CA', 98033.0),
 ('AT&T WS#53517942', 'CA', 98033.0),
 ('BATTERIES PLUS', 'MO', 68119.0),
 ('BATTERIES PLUS #080', 'OH', 80123.0),
 ('BELLSOUTH MOBILITY DCS', 'NC', 30328.0),
 ('BGI-BUDGET-PREMIER-RYDER', 'DC', 21061.0),
 ('BIGELOW LABORATORY', 'NY', 4575.0),
 ('BIO-RAD LABORATORIES INC.', 'CA', 9.0),
 ('BIOLOGIX TECHNOLOGIES', 'WI', 56715.0),
 ('BLOWHITTAKER MOLECULAR', 'PA', 4841.0),
 ("BOCA INT'L INC", 'IL', 478.0),
 ('BURLINGTON AIR EXPRESS', 'CA', 9.0),
 ('BUY.COM', 'CA', 9.0),
 ('CAHNERS BUSINESS INFOR-', 'MA', 8077.0),
 ('CANDLE COMMUNICATION', 'UT', 89119.0),
 ('CC *PC MALL', 'CA', 9.0),
 ('CHEMPLEX INDUSTRIES IN', 'FL', 10707.0),
 ('COMPUTER ASSOCIATES', 'NJ', 11788.0),
 ('CONCENTRA MED CTR-DEN AD', 'CO', 90330.0),
 ('CONTROL DATA CIS INTERNET', 'CA', 55126.0),
 ('CONTROLS & METERS', 'MN', 68106.0),
 ('COP*COPLEY NEWSPAPERS', 'IL', 92073.0),
 ('CRUACHEM INC', 'PA', 20166.0),
 ('DAY WIRELESS SYSTEMS', 'OR', 98032.0),
 ('DOUBLETREE HOTELS NATL AP', 'VA', 98188.0),
 ('DT SOFTWARE INC DT SERCH', 'MD', 22202.0),
 ('EARTH FORCE INC', 'VA', 68106.0),
 ('ELEMENT K PRESS JOURNALS', 'NY', 1.0),
 ('ELEMENT K PRESS STORE.COM', 'NY', 1.0),
 ('ENET HOLDING INC', 'NJ', 22151.0),
 ('EQUIFAX INFO SERVIC', 'GA', 3.0),
 ('EW *EYEWIRE INC CATALG', 'TX', 53224.0),
 ('EW *EYEWIRE INC WEB', 'TX', 53224.0),
 ('FCN/CRC/LEWIS/SLP', 'DC', 33431.0),
 ('FEDERAL EXECUTIVE BOAR', 'KS', 64131.0),
 ('FISHER SCI ATL', 'GA', 3.0),
 ('FLORIDA PLANTS ONLINE', 'FL', 68106.0),
 ('FOTODYNE INC', 'WI', 83259.0),
 ('FRANKLIN COVEY #7090', 'CA', 30136.0),
 ('FRANKLIN COVEY COMPANY', 'UT', 8.0),
 ('FREEMAN DECORATING', 'DC', 22304.0),
 ('FREEMAN DECORATING', 'NY', 7032.0),
 ('GENERAL SERVICES ADMIN', 'MD', 64131.0),
 ('GES/CHICAGO-71', 'IL', 32819.0),
 ('GLOBAL COMPUTER SUPPLY', 'IL', 6.0),
 ('GRADUATE SCHOOL USDA', 'PA', 75242.0),
 ('GRADUATE SCHOOL USDA', 'TX', 19107.0),
 ('GRANTHAM COLLEGE OF', 'LA', 11747.0),
 ('GTE WIRELESS', 'GA', 37211.0),
 ('GUESS RETAIL STORE #505', 'FL', 3.0),
 ('GULF SOUTH MEDICAL SUPPLY', 'FL', 39157.0),
 ('HAWTHORN SUITES, LTD', 'AK', 12.0),
 ('HILL MANUFACTURING CO INC', 'GA', 3.0),
 ('HOLIDAY INNS HTL & ST HS', 'VA', 2.0),
 ('HOME DEPOT #129', 'GA', 3060.0),
 ('IBILL  *www.ibillCS.com', 'FL', 3.0),
 ('ICON HEALTH & FITNESS', 'UT', 23451.0),
 ('IMS OF KANSAS CITY INC', 'MO', 66214.0),
 ('ISSX', 'MD', 20014.0),
 ('JB COMPUTER CONSULTING', 'CT', 66110.0),
 ('JERRY CROUSES TIRE/AUTO', 'CO', 8.0),
 ('KEYSAN CATALOG', 'PA', 33308.0),
 ("KINKO'S, INC #418", 'MO', 66105.0),
 ("KINKO'S,INC #671", 'DC', 93002.0),
 ('KROGER #374        SL9', 'OH', 25231.0),
 ('KRUG FURNITURE INC', 'CA', 99999.0),
 ('LEHIGH SAFETY SHOE CO', 'OH', 60638.0),
 ('LIGHT IMPRESSIONS', 'CA', 98281.0),
 ('LINCOLN COUNTY JOURNAL', 'MI', 63379.0),
 ('MADISON COMPANY', 'CT', 68106.0),
 ('MAINE BIOTECHNOLOGY SVCS.', 'OR', 4103.0),
 ('MALLINCKRODT-BAKER INC', 'MO', 8865.0),
 ('MARYLAND COMPUTER SYS', 'MD', 29004.0),
 ('MATRIX TECHNOLOGIES CORP', 'MA', 3051.0),
 ('MICHAELS STORES, INC. #87', 'RI', 2686.0),
 ('MICRO CENTER #191 RETAIL', 'KS', 11590.0),
 ('MID STATE CAMERA SERVICE', 'IL', 30305.0),
 ('MIDWAY AIR  8781597326876', 'NC', 55402.0),
 ('MITTLER SUPPLY INC', 'IN', 60415.0),
 ('MONSTER.COM #15', 'MA', 10019.0),
 ('MUTUAL SAFE COMPANY INC', 'CA', 65802.0),
 ('NAT ACCTS #951', 'GA', 3.0),
 ('NAT* GEOGRAPHIC MAG', 'MD', 20036.0),
 ('NCT HEARING PRODUCTS', 'CT', 21090.0),
 ('NELLCOR PURITAN BENNETT', 'MO', 94588.0),
 ('NITON CORPORATION', 'NH', 1730.0),
 ('NMSU-STUDENT ACCOUNTS', 'NM', 80033.0),
 ('NORTH CAROLINA STATE', 'NC', 11542.0),
 ('NOVA RESEARCH COMPANY', 'MD', 2.0),
 ('O O O CHECKMATE', 'CA', 80535.0),
 ('OFFICE DEPOT #1082', 'MD', 2.0),
 ('OFFICE DEPOT #1090', 'MA', 55441.0),
 ('OFFICE DEPOT #360', 'GA', 3278.0),
 ('OFFICE DEPOT #420', 'CO', 39211.0),
 ('OFFICE DEPOT #452', 'GA', 19382.0),
 ('OFFICE DEPOT #629', 'MS', 38071.0),
 ('OFFICE DEPOT #804', 'CA', 84107.0),
 ('OMNISTAR INC', 'LA', 77063.0),
 ('ONVIA.COM', 'WA', 9.0),
 ('PC *PC CONNECTION', 'NH', 9.0),
 ('PC *PC CONNECTION', 'NH', 97213.0),
 ('PGH INTL AIRPORT   Q3J', 'PA', 1.0),
 ('PH FILTRATION BOSTON', 'MA', 44124.0),
 ('PH MOTION  AND  CONTROL S', 'OH', 48083.0),
 ('PORTERS CAMERA STORE', 'IA', 5.0),
 ('PROFESS OFC ENTERPRISES', 'VA', 2.0),
 ('PUMA TECHNOLOGY SERVICES', 'CA', 68106.0),
 ('RADIO SHACK   00140731', 'CO', 8.0),
 ('RADIO SHACK   00186049', 'CO', 8.0),
 ('RANGEL DISTRIBUTING CO', 'KS', 64101.0),
 ('RED WING SHOE STORE 158', 'MN', 30606.0),
 ('RED WING SHOES 824', 'MN', 60402.0),
 ('RED WING SHOES 845', 'MN', 60515.0),
 ('RED WING SHOES 884', 'MN', 94015.0),
 ('RED WING SHOES 888', 'MN', 30083.0),
 ('RED WING SHOES 897', 'MN', 60194.0),
 ('RED WING SHOES 902', 'MN', 22150.0),
 ('REGNET', 'CO', 91321.0),
 ('REPROGRPHC TECHNLGIES INC', 'MD', 20005.0),
 ('RETAIL CREDIT ADJUSTMENT', 'CA', 9.0),
 ('RETAIL CREDIT ADJUSTMENT', 'GA', 3.0),
 ('RETAIL CREDIT ADJUSTMENT', 'TX', 7.0),
 ('RETAIL CREDIT ADJUSTMENT', 'VA', 2.0),
 ('RETAIL CREDIT ADJUSTMENT', 'VA', 6.0),
 ('RETAIL CREDIT ADJUSTMENT', 'VA', 7.0),
 ('RETAIL CREDIT ADJUSTMENT', 'VA', 9.0),
 ('RITZ CAMERA #528', 'OH', 60604.0),
 ('RITZ CAMERA CENTER #1021', 'WA', 20705.0),
 ('RIVIERA HOTEL AND CASINO', 'NV', 8.0),
 ('ROGUE WARE SFTWR SERV', 'CA', 68106.0),
 ('RSEWEB.COM 8774054986', 'CA', 9.0),
 ('S  *S S ARTS  CRAFT', 'CT', 34666.0),
 ('SAVIN CORP', 'GA', 7950.0),
 ('SHELL NO 27424732603', 'IL', 80120.0),
 ('SKILLPATH SEMINARS CANADA', 'KS', 62012.0),
 ('SLEEPING BEAR/AA PRESS', 'MI', 68106.0),
 ('SOFTCHOICE CORPORATION', 'CT', 10003.0),
 ("SOFTWARE SHELF INT'L INC", 'FL', 94063.0),
 ('SPRINT PCS #998', 'MO', 66211.0),
 ('SPRINT PCS #999', 'MO', 66211.0),
 ('STAPLES #218', 'WA', 20005.0),
 ('STAPLES #792', 'VA', 2202.0),
 ('STAPLES #941', 'PA', 1.0),
 ('STAPLES #98', 'VA', 17404.0),
 ('STRATAGENE CLONING SYS', 'TX', 92037.0),
 ('STRAYER COLLEGE', 'MD', 22204.0),
 ('STRAYER UNIVERSITY', 'MD', 22204.0),
 ('STUART C IRBY COMPANY 11', 'FL', 39215.0),
 ('STUART PROMOTIONAL PROD', 'PA', 34609.0),
 ('SUN AUTHORIZED SOFTWARE', 'CA', 68106.0),
 ('SUN MICROSYSTEMS, INC.', 'CA', 84303.0),
 ('SUPPLY ONE #6', 'OR', 80301.0),
 ('SYBASE IAD SUBSCRIPTION', 'CA', 68106.0),
 ('SYNERGY SOLUTIONS, INC', 'NY', 63108.0),
 ('TEKTRONIX MBD PARTS 09', 'IL', 97077.0),
 ('TERATOLOGY SOCIETY', 'CA', 20190.0),
 ('THE HOME DEPOT #129', 'GA', 3060.0),
 ('THE NATL ASSOC ENV PROFS', 'ME', 33853.0),
 ('THE SPORTS AUTHORITY #804', 'NC', 8648.0),
 ('THE WELLNESS NEWSLETTER', 'NY', 32034.0),
 ('TLC', 'ND', 20740.0),
 ('TLC              00 OF 00', 'ND', 20740.0),
 ('TROEMNER LLC', 'NJ', 19142.0),
 ('TTL AUDIO VISUAL SYTM INC', 'MO', 20910.0),
 ('UNITED AIR  0161590898501', 'CO', 60007.0),
 ('UPPER VALLEY LOCK DOCTOR', 'NH', 5001.0),
 ('US EXPRESS INC', 'MD', 20007.0),
 ('VICKERS INC TRAINING CTR', 'MN', 48309.0),
 ('WASHINGTON COURIER', 'MD', 20036.0),
 ('WASHINTON SERVICE BUREAU', 'WA', 10019.0),
 ('WESTWOOD ACCOUNTING', 'TX', 19111.0),
 ('WQT*D SNORE 1OF1', 'CA', 9.0),
 ('WirelessCall to 888271028', 'NV', 2109.0),
 ('ZDU.COM WEB PURCHASES', 'NY', 1.0)]

In [103]:
# Unmatched groups
len(a)

200

In [722]:
# If we can find the store at its zip we correct the state
# if the zip code is close to its original state we correct the state
# if in its original state s right and the new zip is similliar to its old one, we cooect the zip
# if the company has only one address we correct the zip or state
# If the zip only has one digit zip, and state is correct we correct the zip
# if we are sure the zip is not correct,we fill the zip as unknown
# If we cannot find this company and zip is obviously wrong we fill as unknown
# If we cannot find the address, we correct the sates based on the zip
# Some company shows the state in their company name then we know the zip is wrong  ex.florida plants
# If the zip and state do not match and there is a store with the same zip we will correct state, since zip is harder to be typo
# If there are correct zip and state in the correct dataset, we fill the same value
# For some suspious fraud company we used the ip address location (ibillcs.com)
# some companies have been shut down, hard to find info

In [104]:
df.loc[df['Merch description']=='A J ABRAMS CO INC',['Merch state']]='CT'
df.loc[df['Merch description']=='A J ABRAMS CO INC',['Merch zip']]=6880

df.loc[(df['Merch description']=='ABS GRP INC/GOVT INST DIV')&(df['Merch state']=='MD'),['Merch zip']]=20879

df.loc[(df['Merch description']=='ACD SYSTEMS')&(df['Merch state']=='CA'),['Merch zip']]='unknown'

df.loc[(df['Merch description']=='ADVANCE AUTO PARTS #5125')&(df['Merch zip']==11111),['Merch state']]='KS'

# ? INVALID STATE
df.loc[(df['Merch description']=='ADVANCED CHEM DEVELOPMEN')&(df['Merch state']=='MO'),['Merch zip']]='unknown'

df.loc[(df['Merch description']=='ADVANCED LOCK & SAFE INC')&(df['Merch zip']==20151),['Merch state']]='VA'

df.loc[df['Merch description']=='AGENT FEE   8908111473613',['Merch state']]='VA'
df.loc[df['Merch description']=='AGENT FEE   8908117237329',['Merch state']]='VA'
df.loc[df['Merch description']=='AGENT FEE   8908111473613',['Merch zip']]=22209
df.loc[df['Merch description']=='AGENT FEE   8908117237329',['Merch zip']]=22209

df.loc[(df['Merch description']=='AGILENT')&(df['Merch state']=='GA'),['Merch zip']]=30022

df.loc[(df['Merch description']=='AIR & WASTE MGMT ASSOC')&(df['Merch state']=='PA'),['Merch zip']]=15222

df.loc[(df['Merch description']=='ALL IN ONE SUPPLY')&(df['Merch zip']==90712),['Merch state']]='CA'

df.loc[(df['Merch description']=='AMAC KC PUBS')&(df['Merch state']=='KS'),['Merch zip']]=66204

df.loc[(df['Merch description']=='AMAZON.COM  *SUPERSTOR')&(df['Merch state']=='WA'),['Merch zip']]=98109

df.loc[(df['Merch description']=='AMERICAN CHEMICAL SCTY')&(df['Merch state']=='DC'),['Merch zip']]=20036

df.loc[(df['Merch description']=='AMERICAN SPEAKER')&(df['Merch zip']==21742),['Merch state']]='MD'

df.loc[(df['Merch description']=='AOAC INTERNATIONAL')&(df['Merch state']=='MD'),['Merch zip']]=20877

df.loc[(df['Merch description']=='AOL*ONLINE SERVICE 0200')&(df['Merch state']=='VA'),['Merch zip']]=20166

df.loc[(df['Merch description']=='APPLIED IND TECH   744')&(df['Merch zip']==48108),['Merch state']]='MI'

df.loc[(df['Merch description']=='APPLIED IND TECH  0239')&(df['Merch zip']==27703),['Merch state']]='NC'

df.loc[(df['Merch description']=='APPLIED MEMBRANES INC')&(df['Merch zip']==92069),['Merch state']]='CA'

df.iloc[64351,6]='unknown'

df.loc[(df['Merch description']=='ARIZONA INSTRUMENTS')&(df['Merch state']=='AZ'),['Merch zip']]=85225

df.loc[(df['Merch description']=='AT AND T CHERRY HILL')&(df['Merch state']=='NJ'),['Merch zip']]=8002

df.loc[(df['Merch description']=='AT AND T WHEELING')&(df['Merch state']=='WV'),['Merch zip']]=26003

df.loc[(df['Merch description']=='AT YOUR OFFICE')&(df['Merch zip']==20004),['Merch state']]='DC'
df.loc[(df['Merch description']=='AT&T WORLDNET SERVICES')&(df['Merch zip']==7054),['Merch state']]='NJ'
df.loc[(df['Merch description']=='AT&T WS#1210210')&(df['Merch zip']==98033),['Merch state']]='WA'
df.loc[(df['Merch description']=='AT&T WS#53517942')&(df['Merch zip']==98033),['Merch state']]='WA'

df.loc[(df['Merch description']=='BATTERIES PLUS #080')&(df['Merch zip']==80123),['Merch state']]='CO'
df.loc[(df['Merch description']=='BELLSOUTH MOBILITY DCS')&(df['Merch zip']==30328),['Merch state']]='GA'
df.loc[(df['Merch description']=='BGI-BUDGET-PREMIER-RYDER')&(df['Merch zip']==21061),['Merch state']]='MD'

df.loc[(df['Merch description']=='BIGELOW LABORATORY')&(df['Merch zip']==4575),['Merch state']]='ME'
df.loc[(df['Merch description']=='BIO-RAD LABORATORIES INC.')&(df['Merch state']=='CA'),['Merch zip']]=94547
df.loc[(df['Merch description']=='BIOLOGIX TECHNOLOGIES')&(df['Merch state']=='WI'),['Merch zip']]=53716

df.loc[(df['Merch description']=='BLOWHITTAKER MOLECULAR')&(df['Merch zip']==4841),['Merch state']]='ME'
df.loc[(df['Merch description']=="BOCA INT'L INC")&(df['Merch state']=='IL'),['Merch zip']]='unknown'
df.loc[(df['Merch description']=='BURLINGTON AIR EXPRESS')&(df['Merch state']=='CA'),['Merch zip']]=90045

df.loc[(df['Merch description']=='BUY.COM')&(df['Merch state']=='CA'),['Merch zip']]=94402

In [105]:
df.loc[(df['Merch description']=='CAHNERS BUSINESS INFOR-')&(df['Merch state']=='MA'),['Merch zip']]=2140
df.loc[(df['Merch description']=='CANDLE COMMUNICATION')&(df['Merch zip']==89119),['Merch state']]='NV'
df.loc[(df['Merch description']=='CC *PC MALL')&(df['Merch state']=='CA'),['Merch zip']]=90241

df.loc[(df['Merch description']=='CHEMPLEX INDUSTRIES IN')&(df['Merch state']=='FL'),['Merch zip']]=34990
df.loc[(df['Merch description']=='COMPUTER ASSOCIATES')&(df['Merch state']=='NJ'),['Merch zip']]=7632
df.loc[(df['Merch description']=='CONCENTRA MED CTR-DEN AD')&(df['Merch state']=='CO'),['Merch zip']]=80202

df.loc[(df['Merch description']=='CONTROL DATA CIS INTERNET')&(df['Merch zip']==55126),['Merch state']]='MN'
df.loc[(df['Merch description']=='CONTROLS & METERS')&(df['Merch state']=='MN'),['Merch zip']]=55439
df.loc[(df['Merch description']=='COP*COPLEY NEWSPAPERS')&(df['Merch zip']==92073),['Merch state']]='CA'

df.loc[(df['Merch description']=='CRUACHEM INC')&(df['Merch zip']==20166),['Merch state']]='PA'
df.loc[(df['Merch description']=='DAY WIRELESS SYSTEMS')&(df['Merch zip']==98032),['Merch state']]='CA'
df.loc[(df['Merch description']=='DOUBLETREE HOTELS NATL AP')&(df['Merch zip']==98188),['Merch state']]='WA'

df.loc[(df['Merch description']=='DT SOFTWARE INC DT SERCH')&(df['Merch state']=='MD'),['Merch zip']]=20814
df.loc[(df['Merch description']=='EARTH FORCE INC')&(df['Merch state']=='VA'),['Merch zip']]=22301
df.loc[(df['Merch description']=='ELEMENT K PRESS JOURNALS')&(df['Merch state']=='NY'),['Merch zip']]=14623
df.loc[(df['Merch description']=='ELEMENT K PRESS STORE.COM')&(df['Merch state']=='NY'),['Merch zip']]=14623

df.loc[(df['Merch description']=='ENET HOLDING INC')&(df['Merch state']=='NJ'),['Merch zip']]=8540
df.loc[(df['Merch description']=='EQUIFAX INFO SERVIC')&(df['Merch state']=='GA'),['Merch zip']]=30374

df.loc[(df['Merch description']=='EW *EYEWIRE INC CATALG')&(df['Merch zip']==53224),['Merch state']]='WI'
df.loc[(df['Merch description']=='EW *EYEWIRE INC WEB')&(df['Merch zip']==53224),['Merch state']]='WI'

df.loc[(df['Merch description']=='FCN/CRC/LEWIS/SLP')&(df['Merch zip']==33431),['Merch state']]='FL'

df.loc[(df['Merch description']=='FEDERAL EXECUTIVE BOAR')&(df['Merch zip']==64131),['Merch state']]='MO'
df.loc[(df['Merch description']=='FEDERAL EXECUTIVE BOAR')&(df['Merch state']=='MO'),['Merch zip']]=64151

df.loc[(df['Merch description']=='FISHER SCI ATL')&(df['Merch state']=='GA'),['Merch zip']]=30024

df.loc[(df['Merch description']=='FLORIDA PLANTS ONLINE')&(df['Merch state']=='FL'),['Merch zip']]=68106

df.loc[(df['Merch description']=='FOTODYNE INC')&(df['Merch state']=='WI'),['Merch zip']]=53029

df.loc[(df['Merch description']=='FRANKLIN COVEY #7090')&(df['Merch state']=='CA'),['Merch zip']]=91007

df.loc[(df['Merch description']=='FRANKLIN COVEY COMPANY')&(df['Merch state']=='UT'),['Merch zip']]=84119

df.loc[(df['Merch description']=='FREEMAN DECORATING')&(df['Merch zip']==22304),['Merch state']]='VA'
df.loc[(df['Merch description']=='FREEMAN DECORATING')&(df['Merch state']=='VA'),['Merch zip']]=22314
df.loc[(df['Merch description']=='FREEMAN DECORATING')&(df['Merch zip']==7032),['Merch state']]='NJ'

df.loc[(df['Merch description']=='GENERAL SERVICES ADMIN')&(df['Merch zip']==64131),['Merch state']]='MO'
df.loc[(df['Merch description']=='GES/CHICAGO-71')&(df['Merch zip']==32819),['Merch state']]='FL'

df.loc[(df['Merch description']=='GLOBAL COMPUTER SUPPLY')&(df['Merch state']=='IL'),['Merch zip']]=60450

df.loc[(df['Merch description']=='GRADUATE SCHOOL USDA')&(df['Merch zip']==75242),['Merch state']]='TX'
df.loc[(df['Merch description']=='GRADUATE SCHOOL USDA')&(df['Merch state']=='TX'),['Merch zip']]=75242

df.loc[(df['Merch description']=='GRANTHAM COLLEGE OF')&(df['Merch state']=='LA'),['Merch zip']]=70460

df.loc[(df['Merch description']=='GTE WIRELESS')&(df['Merch state']=='GA'),['Merch zip']]=30346

df.loc[(df['Merch description']=='GUESS RETAIL STORE #505')&(df['Merch state']=='FL'),['Merch zip']]=33139

df.loc[(df['Merch description']=='GULF SOUTH MEDICAL SUPPLY')&(df['Merch state']=='FL'),['Merch zip']]=39157

df.loc[(df['Merch description']=='HAWTHORN SUITES, LTD')&(df['Merch state']=='AK'),['Merch zip']]=99501

df.loc[(df['Merch description']=='HILL MANUFACTURING CO INC')&(df['Merch state']=='GA'),['Merch zip']]=30315

df.loc[(df['Merch description']=='HOLIDAY INNS HTL & ST HS')&(df['Merch state']=='VA'),['Merch zip']]=23451

df.loc[(df['Merch description']=='HOME DEPOT #129')&(df['Merch state']=='GA'),['Merch zip']]=30606

# IP ADDRESS IS AT THIS LOCATION
df.loc[(df['Merch description']=='IBILL  *www.ibillCS.com')&(df['Merch zip']==3),['Merch state']]='VA'
df.loc[(df['Merch description']=='IBILL  *www.ibillCS.com')&(df['Merch state']=='VA'),['Merch zip']]=20149

df.loc[(df['Merch description']=='ICON HEALTH & FITNESS')&(df['Merch state']=='ut'),['Merch zip']]=84321

df.loc[(df['Merch description']=='IMS OF KANSAS CITY INC')&(df['Merch zip']==66214),['Merch state']]='KS'

df.loc[(df['Merch description']=='ISSX')&(df['Merch zip']==20014),['Merch state']]='DC'
df.loc[(df['Merch description']=='ISSX')&(df['Merch state']=='DC'),['Merch zip']]=20006

df.loc[(df['Merch description']=='JB COMPUTER CONSULTING')&(df['Merch state']=='CT'),['Merch zip']]=6611

df.loc[(df['Merch description']=='JERRY CROUSES TIRE/AUTO')&(df['Merch state']=='CO'),['Merch zip']]=80501

df.loc[(df['Merch description']=='KEYSAN CATALOG')&(df['Merch zip']==33308),['Merch state']]='FL'

df.loc[(df['Merch description']=="KINKO'S, INC #418")&(df['Merch zip']==66105),['Merch state']]='KS'
df.loc[(df['Merch description']=="KINKO'S,INC #671")&(df['Merch zip']==93002),['Merch state']]='CA'

#FRAUD
df.loc[(df['Merch description']=='KROGER #374        SL9')&(df['Merch zip']==25231),['Merch state']]='TX'
df.loc[(df['Merch description']=='KROGER #374        SL9')&(df['Merch state']=='TX'),['Merch zip']]=77095

df.loc[(df['Merch description']=='KRUG FURNITURE INC')&(df['Merch state']=='CA'),['Merch zip']]=95112

df.loc[(df['Merch description']=='LEHIGH SAFETY SHOE CO')&(df['Merch state']=='OH'),['Merch zip']]=60638

df.loc[(df['Merch description']=='LIGHT IMPRESSIONS')&(df['Merch state']=='CA'),['Merch zip']]=92821

df.loc[(df['Merch description']=='LINCOLN COUNTY JOURNAL')&(df['Merch zip']==63379),['Merch state']]='MO'

df.loc[(df['Merch description']=='MADISON COMPANY')&(df['Merch state']=='CT'),['Merch zip']]=6405

df.loc[(df['Merch description']=='MAINE BIOTECHNOLOGY SVCS.')&(df['Merch zip']==4103),['Merch state']]='ME'

df.loc[(df['Merch description']=='MALLINCKRODT-BAKER INC')&(df['Merch zip']==8865),['Merch state']]='NJ'

df.loc[(df['Merch description']=='MARYLAND COMPUTER SYS')&(df['Merch state']=='MD'),['Merch zip']]=20646

df.loc[(df['Merch description']=='MATRIX TECHNOLOGIES CORP')&(df['Merch zip']==3051),['Merch state']]='NH'

df.loc[(df['Merch description']=='MICHAELS STORES, INC. #87')&(df['Merch state']=='RI'),['Merch zip']]=2886

df.loc[(df['Merch description']=='MICRO CENTER #191 RETAIL')&(df['Merch zip']==11590),['Merch state']]='NY'

df.loc[(df['Merch description']=='MID STATE CAMERA SERVICE')&(df['Merch state']=='IL'),['Merch zip']]=60602

df.loc[(df['Merch description']=='MIDWAY AIR  8781597326876')&(df['Merch state']=='NC'),['Merch zip']]=27707

df.loc[(df['Merch description']=='MITTLER SUPPLY INC')&(df['Merch state']=='IN'),['Merch zip']]=46334

df.loc[(df['Merch description']=='MONSTER.COM #15')&(df['Merch state']=='MA'),['Merch zip']]=2493

df.loc[(df['Merch description']=='MUTUAL SAFE COMPANY INC')&(df['Merch state']=='CA'),['Merch zip']]=92627

df.loc[(df['Merch description']=='NAT ACCTS #951')&(df['Merch state']=='GA'),['Merch zip']]=30328

df.loc[(df['Merch description']=='NAT* GEOGRAPHIC MAG')&(df['Merch zip']==20036),['Merch state']]='DC'

df.loc[(df['Merch description']=='NCT HEARING PRODUCTS')&(df['Merch state']=='CT'),['Merch zip']]=6880

df.loc[(df['Merch description']=='NELLCOR PURITAN BENNETT')&(df['Merch zip']==94588),['Merch state']]='CA'

df.loc[(df['Merch description']=='NITON CORPORATION')&(df['Merch zip']==1730),['Merch state']]='MA'

df.loc[(df['Merch description']=='NMSU-STUDENT ACCOUNTS')&(df['Merch state']=='NM'),['Merch zip']]=88003

df.loc[(df['Merch description']=='NORTH CAROLINA STATE')&(df['Merch state']=='NC'),['Merch zip']]=27695

df.loc[(df['Merch description']=='NOVA RESEARCH COMPANY')&(df['Merch state']=='MD'),['Merch zip']]=20910

df.loc[(df['Merch description']=='OFFICE DEPOT #1082')&(df['Merch state']=='MD'),['Merch zip']]=20763

#('OFFICE DEPOT #1090', 'MA', 55441.0) MAY BE FRAUD
df.iloc[63501,6]=1752

#STORE : 360 420 452 629
df.iloc[14233,6]=30078
df.iloc[71140,6]=38671
df.iloc[19236,6]=80012
df.iloc[86956,5]='PA'

df.loc[(df['Merch description']=='OFFICE DEPOT #804')&(df['Merch zip']==84107),['Merch state']]='AL'
df.loc[(df['Merch description']=='OFFICE DEPOT #804')&(df['Merch state']=='AL'),['Merch zip']]=35801

df.loc[(df['Merch description']=='OMNISTAR INC')&(df['Merch zip']==77063),['Merch state']]='TX'
df.loc[(df['Merch description']=='OMNISTAR INC')&(df['Merch state']=='TX'),['Merch zip']]=77081

df.loc[(df['Merch description']=='ONVIA.COM')&(df['Merch state']=='WA'),['Merch zip']]=98101

df.loc[(df['Merch description']=='PC *PC CONNECTION')&(df['Merch state']=='NH'),['Merch zip']]=3054

df.loc[(df['Merch description']=='PGH INTL AIRPORT   Q3J')&(df['Merch state']=='PA'),['Merch zip']]=15231

df.loc[(df['Merch description']=='PH MOTION  AND  CONTROL S')&(df['Merch zip']==48083),['Merch state']]='MI'

df.loc[(df['Merch description']=='PORTERS CAMERA STORE')&(df['Merch state']=='IA'),['Merch zip']]=50613

df.loc[(df['Merch description']=='PROFESS OFC ENTERPRISES')&(df['Merch state']=='VA'),['Merch zip']]=22304

df.loc[(df['Merch description']=='PH FILTRATION BOSTON')&(df['Merch state']=='MA'),['Merch zip']]=1876

df.loc[(df['Merch description']=='PUMA TECHNOLOGY SERVICES')&(df['Merch state']=='CA'),['Merch zip']]=94117

df.loc[(df['Merch description']=='RADIO SHACK   00140731')&(df['Merch state']=='CO'),['Merch zip']]=80202
df.loc[(df['Merch description']=='RADIO SHACK   00186049')&(df['Merch state']=='CO'),['Merch zip']]=80206

df.loc[(df['Merch description']=='RANGEL DISTRIBUTING CO')&(df['Merch zip']==64101),['Merch state']]='MO'

df.loc[(df['Merch description']=='RED WING SHOES 824')&(df['Merch zip']==60402),['Merch state']]='IL'
df.loc[(df['Merch description']=='RED WING SHOES 845')&(df['Merch zip']==60515),['Merch state']]='IL'
df.loc[(df['Merch description']=='RED WING SHOES 884')&(df['Merch zip']==94015),['Merch state']]='CA'
df.loc[(df['Merch description']=='RED WING SHOES 888')&(df['Merch zip']==30083),['Merch state']]='GA'
df.loc[(df['Merch description']=='RED WING SHOES 897')&(df['Merch zip']==60194),['Merch state']]='IL'
df.loc[(df['Merch description']=='RED WING SHOES 902')&(df['Merch zip']==22150),['Merch state']]='VA'

df.loc[(df['Merch description']=='REGNET')&(df['Merch zip']==91321),['Merch state']]='CO'

df.loc[(df['Merch description']=='REPROGRPHC TECHNLGIES INC')&(df['Merch state']=='MD'),['Merch zip']]=20879

df.loc[(df['Merch description']=='RITZ CAMERA #528')&(df['Merch zip']==60604),['Merch state']]='IL'

df.loc[(df['Merch description']=='RITZ CAMERA CENTER #1021')&(df['Merch zip']==20705),['Merch state']]='WA'

df.loc[(df['Merch description']=='RIVIERA HOTEL AND CASINO')&(df['Merch state']=='NV'),['Merch zip']]=89109

df.loc[(df['Merch description']=='RSEWEB.COM 8774054986')&(df['Merch state']=='CA'),['Merch zip']]=91324

df.loc[(df['Merch description']=='ROGUE WARE SFTWR SERV')&(df['Merch state']=='CA'),['Merch zip']]=94501

df.loc[(df['Merch description']=='S  *S S ARTS  CRAFT')&(df['Merch state']=='CT'),['Merch zip']]=6415

df.loc[(df['Merch description']=='SAVIN CORP')&(df['Merch state']=='GA'),['Merch zip']]=30097

df.loc[(df['Merch description']=='SHELL NO 27424732603')&(df['Merch zip']==80120),['Merch state']]='CO'

df.loc[(df['Merch description']=='SKILLPATH SEMINARS CANADA')&(df['Merch state']=='KS'),['Merch zip']]=66202

df.loc[(df['Merch description']=='SLEEPING BEAR/AA PRESS')&(df['Merch state']=='MI'),['Merch zip']]=48104

df.loc[(df['Merch description']=='SOFTCHOICE CORPORATION')&(df['Merch zip']==10003),['Merch state']]='NY'

df.loc[(df['Merch description']=="SOFTWARE SHELF INT'L INC")&(df['Merch state']=='FL'),['Merch zip']]=33755

df.loc[(df['Merch description']=="SPRINT PCS #998")&(df['Merch state']=='MO'),['Merch zip']]=64112
df.loc[(df['Merch description']=="SPRINT PCS #998")&(df['Merch state']=='MO'),['Merch zip']]=64112

df.loc[(df['Merch description']=='STAPLES #218')&(df['Merch zip']==20005),['Merch state']]='DC'
df.loc[(df['Merch description']=="STAPLES #792")&(df['Merch state']=='VA'),['Merch zip']]=22021
df.loc[(df['Merch description']=="STAPLES #941")&(df['Merch state']=='PA'),['Merch zip']]=17201
df.loc[(df['Merch description']=='STAPLES #98')&(df['Merch zip']==17404),['Merch state']]='PA'

df.loc[(df['Merch description']=='STRATAGENE CLONING SYS')&(df['Merch zip']==92037),['Merch state']]='CA'

df.loc[(df['Merch description']=="STRAYER COLLEGE")&(df['Merch state']=='MD'),['Merch zip']]=20746
df.loc[(df['Merch description']=="STRAYER UNIVERSITY")&(df['Merch state']=='MD'),['Merch zip']]=20746

df.loc[(df['Merch description']=='STUART C IRBY COMPANY 11')&(df['Merch zip']==39215),['Merch state']]='MS'

df.loc[(df['Merch description']=='STUART PROMOTIONAL PROD')&(df['Merch zip']==34609),['Merch state']]='PA'

df.loc[(df['Merch description']=="SUN MICROSYSTEMS, INC.")&(df['Merch state']=='CA'),['Merch zip']]=94303

df.loc[(df['Merch description']=="SYBASE IAD SUBSCRIPTION")&(df['Merch state']=='CA'),['Merch zip']]=95008

df.loc[(df['Merch description']=="SYNERGY SOLUTIONS, INC")&(df['Merch state']=='NY'),['Merch zip']]=89120
df.loc[(df['Merch description']=='SYNERGY SOLUTIONS, INC')&(df['Merch zip']==89120),['Merch state']]='NV'

df.loc[(df['Merch description']=='TEKTRONIX MBD PARTS 09')&(df['Merch zip']==97077),['Merch state']]='OR'

df.loc[(df['Merch description']=='TERATOLOGY SOCIETY')&(df['Merch zip']==20190),['Merch state']]='VA'

df.loc[(df['Merch description']=="THE HOME DEPOT #129")&(df['Merch state']=='GA'),['Merch zip']]=30606

df.loc[(df['Merch description']=='THE NATL ASSOC ENV PROFS')&(df['Merch zip']==33853),['Merch state']]='FL'

df.loc[(df['Merch description']=='THE SPORTS AUTHORITY #804')&(df['Merch zip']==8648),['Merch state']]='NJ'

df.loc[(df['Merch description']=='TLC')&(df['Merch zip']==20740),['Merch state']]='MD'

df.loc[(df['Merch description']=='TLC              00 OF 00')&(df['Merch zip']==20740),['Merch state']]='MD'

df.loc[(df['Merch description']=="TROEMNER LLC")&(df['Merch state']=='NJ'),['Merch zip']]=8086

df.loc[(df['Merch description']=='TTL AUDIO VISUAL SYTM INC')&(df['Merch zip']==20910),['Merch state']]='MD'

df.loc[(df['Merch description']=='UNITED AIR  0161590898501')&(df['Merch zip']==60007),['Merch state']]='IL'

df.loc[(df['Merch description']=="UPPER VALLEY LOCK DOCTOR")&(df['Merch state']=='NH'),['Merch zip']]=3741

df.loc[(df['Merch description']=="US EXPRESS INC")&(df['Merch state']=='MD'),['Merch zip']]=20785

df.loc[(df['Merch description']=='VICKERS INC TRAINING CTR')&(df['Merch zip']==48309),['Merch state']]='MI'

df.loc[(df['Merch description']=='WASHINGTON COURIER')&(df['Merch zip']==20036),['Merch state']]='DC'

df.loc[(df['Merch description']=='WASHINTON SERVICE BUREAU')&(df['Merch zip']==10019),['Merch state']]='DC'
df.loc[(df['Merch description']=="WASHINTON SERVICE BUREAU")&(df['Merch state']=='DC'),['Merch zip']]=20005

df.loc[(df['Merch description']=="WQT*D SNORE 1OF1")&(df['Merch state']=='CA'),['Merch zip']]=91360

df.loc[(df['Merch description']=='WirelessCall to 888271028')&(df['Merch zip']==2109),['Merch state']]='MA'

df.loc[(df['Merch description']=="ZDU.COM WEB PURCHASES")&(df['Merch state']=='NY'),['Merch zip']]='unknown'

df.loc[(df['Merch description']=="RADIOSHACK.COM 0757005")&(df['Merch state']=='TX'),['Merch zip']]=75705

In [725]:
# DID NOT FIND ANY RECORD 
#('O O O CHECKMATE', 'CA', 80535.0) 
#('SUN AUTHORIZED SOFTWARE', 'CA', 68106.0)
#('SUPPLY ONE #6', 'OR', 80301.0)
#('THE WELLNESS NEWSLETTER', 'NY', 32034.0)
#('WESTWOOD ACCOUNTING', 'TX', 19111.0)

In [726]:
# For merch description =='Retail credit adjustment', there are 357 records without state and zip,
# we just replace them with "unknown"
#df.loc[(df['Merch description']=='RETAIL CREDIT ADJUSTMENT')  & (df['Merch state'].isnull()) &(df['Merch zip'].isnull())]

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96752 entries, 0 to 96751
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Recnum             96752 non-null  int64
 1   Cardnum            96752 non-null  int64
 2   Date               96752 non-null  datetime64[ns]
 3   Merchnum           93378 non-null  object
 4   Merch description  96752 non-null  object
 5   Merch state        95558 non-null  object
 6   Merch zip          92136 non-null  object
 7   Transtype          96752 non-null  object
 8   Amount             96752 non-null  float64
 9   Fraud              96752 non-null  int64
 10  State Name         95186 non-null  object
 11  Zip_min            95186 non-null  float64
 12  Zip_max            95186 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 10.3+ MB

In [728]:
#df.loc[(df['Merch description']=='RETAIL CREDIT ADJUSTMENT')  & (df['Merch state'].isnull()) &(df['Merch zip'].isnull()),['Merch state']]='unknown'
#df.loc[df['Merch description']=='RETAIL CREDIT ADJUSTMENT',['Merch zip']]='unknown'

In [107]:
# Drop zipfile for the next merge 
df=df.drop(columns=['State Name','Zip_min','Zip_max'])
df

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0
...,...,...,...,...,...,...,...,...,...,...
96747,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042,P,84.79,0
96748,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248,P,118.75,0
96749,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150,P,363.56,0
96750,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,94402,P,2202.03,0
96751,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606,P,554.64,0

In [108]:
df = df.merge(zipfile, on = ['Merch state'], how='left')
df

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,State Name,Zip_min,Zip_max
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0,Tennessee,37010.0,38589.0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803,P,31.42,0,Massachusetts,1001.0,2791.0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706,P,178.49,0,Maryland,20331.0,21930.0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118,P,3.62,0,Tennessee,37010.0,38589.0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0,Tennessee,37010.0,38589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96747,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042,P,84.79,0,Kentucky,40003.0,42788.0
96748,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248,P,118.75,0,Ohio,43001.0,45999.0
96749,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150,P,363.56,0,Ohio,43001.0,45999.0
96750,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,94402,P,2202.03,0,California,90001.0,96162.0
96751,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606,P,554.64,0,New Jersey,7001.0,8989.0

In [109]:
df_not_miss_zip_state=df[(df['Merch zip'].notnull())&(df['Merch state'].notnull()) & (df['Merch zip']!='unknown')]
df_not_miss_zip_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92043 entries, 0 to 96751
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Recnum             92043 non-null  int64
 1   Cardnum            92043 non-null  int64
 2   Date               92043 non-null  datetime64[ns]
 3   Merchnum           90225 non-null  object
 4   Merch description  92043 non-null  object
 5   Merch state        92043 non-null  object
 6   Merch zip          92043 non-null  object
 7   Transtype          92043 non-null  object
 8   Amount             92043 non-null  float64
 9   Fraud              92043 non-null  int64
 10  State Name         92043 non-null  object
 11  Zip_min            92043 non-null  float64
 12  Zip_max            92043 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 9.8+ MB

### Check after correction, we still have 42 unmatched rows due to no information found online

In [110]:
rr=0
for i in range(len(df_not_miss_zip_state)):
    
    if df_not_miss_zip_state.iloc[i,6]<df_not_miss_zip_state.iloc[i,11] or df_not_miss_zip_state.iloc[i,6]>df_not_miss_zip_state.iloc[i,12]:
        rr=rr+1
print('unmatched due to cannot find record online:',rr)

unmatched due to cannot find record online: 42

# Fill Merch State

### Fill the state for the records with valid zipcode

In [111]:
df['Merch state'].isnull().sum()

1194

In [112]:
df = df.drop(columns=['State Name','Zip_min','Zip_max'])

In [113]:
df_with_zip_nostate=df[(df['Merch zip'].notnull())&(df['Merch state'].isnull())]
df_with_zip_nostate['index']=df_with_zip_nostate.index
df_with_zip_nostate

<ipython-input-113-5c33d556a468>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_zip_nostate['index']=df_with_zip_nostate.index

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,index
3258,3259,5142153880,2010-01-14,582582822587,DIGITAL TECHNOLOGY CONTRA,NaN,926,P,2340.00,0,3258
3262,3263,5142154098,2010-01-14,582582822587,DIGITAL TECHNOLOGY CONTRA,NaN,926,P,2387.00,0,3262
3540,3541,5142154098,2010-01-17,582582822587,DIGITAL TECHNOLOGY CONTRA,NaN,926,P,2300.00,0,3540
3642,3643,5142153880,2010-01-17,582582822587,DIGITAL TECHNOLOGY CONTRA,NaN,926,P,2500.00,0,3642
4969,4970,5142194136,2010-01-24,597597721468,CRISTALIA ACQUISITION COR,NaN,929,P,83.00,0,4969
...,...,...,...,...,...,...,...,...,...,...,...
83271,83273,5142193384,2010-10-26,600555303209,EMBASSY SUITES PR,NaN,38117,P,300.00,0,83271
83424,83426,5142193384,2010-10-27,600555303209,EMBASSY SUITES PR,NaN,38117,P,600.00,0,83424
83453,83455,5142193384,2010-10-27,600555303209,EMBASSY SUITES PR,NaN,38117,P,600.00,0,83453
86404,86406,5142194136,2010-11-10,7007631331,AAFES BUCHANAN MAIN STR,NaN,934,P,184.41,0,86404
90258,90260,5142233702,2010-12-01,4006851471,INTERNET VISION,NaN,41160,P,131.00,0,90258

In [114]:
ii=list(range(len(df_with_zip_nostate.index)))
len(ii)

87

In [115]:
for i in ii:
    if type(df_with_zip_nostate.iloc[i,5])== float:
        for j in range(len(zipfile)):
            if df_with_zip_nostate.iloc[i,5]>=zipfile.iloc[j,2] and df_with_zip_nostate.iloc[i,5]<=zipfile.iloc[j,3]:
                #df_with_state_nozip.iloc[i,4]=zipfile.iloc[j,1]
                df.iloc[df_with_zip_nostate.iloc[i,9],4] = zipfile.iloc[j,1]
                #print(df.iloc[df_with_zip_nostate.iloc[i,9],4])

<ipython-input-115-263413389703>:4: RuntimeWarning: invalid value encountered in less_equal
  if df_with_zip_nostate.iloc[i,5]>=zipfile.iloc[j,2] and df_with_zip_nostate.iloc[i,5]<=zipfile.iloc[j,3]:

In [116]:
# Left missing values 
df['Merch state'].isnull().sum()

1194

In [117]:
# Step 1: Group by Cardnum, Date, find the mode of state for each group 

temp_1 = df.groupby(['Cardnum','Date'])[['Merch state']].apply(lambda x: x.mode()).reset_index()
temp_1 = temp_1[temp_1.level_2 == 0].iloc[:, [0,1,3]]
temp_1.columns = ['Cardnum','Date','mode_state']
df = df.merge(temp_1, how ='left', on = ['Cardnum','Date'])
df['Merch state'] = df['Merch state'].fillna(df['mode_state'])

In [118]:
# Left missing merch state
df['Merch state'].isnull().sum()

796

In [119]:
df = df.drop(columns=['mode_state'])

In [120]:
# Step 2: Groupby Cardnum, Merch description, find the mode of state for each group 

temp_2 = df.groupby(['Cardnum','Merch description'])[['Merch state']].apply(lambda x: x.mode()).reset_index()
temp_2 = temp_2[temp_2.level_2 == 0].iloc[:, [0,1,3]]
temp_2.columns = ['Cardnum','Merch description','mode_state']
df = df.merge(temp_2, how='left', on=['Cardnum','Merch description'])
df['Merch state'] = df['Merch state'].fillna(df['mode_state'])
df['Merch state'].isnull().sum()

580

In [121]:
df = df.drop(columns=['mode_state'])

In [122]:
# Step 3: Groupby Merch description, find the mode of state for each group
temp_3 = df.groupby('Merch description')[['Merch state']].apply(lambda x: x.mode()).reset_index()
temp_3 = temp_3[temp_3.level_1 == 0].iloc[:, [0,2]]
temp_3.columns = ['Merch description','mode_state']
df = df.merge(temp_3, how='left', on=['Merch description'])
df['Merch state'] = df['Merch state'].fillna(df['mode_state'])
df['Merch state'].isnull().sum()

167

In [123]:
df = df.drop(columns=['mode_state'])

In [124]:
# Step 4: Groupby Merchnum, find the mode of state for each group
temp_4 = df.groupby('Merchnum')[['Merch state']].apply(lambda x: x.mode()).reset_index()
temp_4 = temp_4[temp_4.level_1 == 0].iloc[:, [0,2]]
temp_4.columns = ['Merchnum','mode_state']
df = df.merge(temp_4, how='left', on=['Merchnum'])
df['Merch state'] = df['Merch state'].fillna(df['mode_state'])
df['Merch state'].isnull().sum()

148

In [125]:
df = df.drop(columns=['mode_state'])

In [126]:
# Step 4: Groupby Cardnum, find the mode of state for each group
temp_5 = df.groupby('Cardnum')[['Merch state']].apply(lambda x: x.mode()).reset_index()
temp_5 = temp_5[temp_5.level_1 == 0].iloc[:, [0,2]]
temp_5.columns = ['Cardnum','mode_state']
df = df.merge(temp_5, how='left', on=['Cardnum'])
df['Merch state'] = df['Merch state'].fillna(df['mode_state'])
df['Merch state'].isnull().sum()

32

In [127]:
# Check the left missing records, we found no information can help to fill these, so just fill unknown
df.loc[df['Merch state'].isnull()]['Cardnum'].unique()

array([5142110691, 5142310397, 5142110313, 5142240894], dtype=int64)

In [128]:
# Check the left missing records, we found no information can help to fill these, so just fill unknown
df['Merch state'] = df['Merch state'].fillna('unknown')

In [129]:
# Done with Merch state fill
df['Merch state'].isnull().sum()

0

In [130]:
df = df.drop(columns=['mode_state'])

# Fill Merch Zip

In [131]:
# Original missing records
df['Merch zip'].isnull().sum()

4616

In [132]:
# Step 1: Group by cardnum, date, merch state, merch description, find the mode of the zip
temp_1 = df.groupby(['Cardnum','Date','Merch state','Merch description'])[['Merch zip']].apply(lambda x: x.mode()).reset_index()
temp_1 = temp_1[temp_1.level_4 == 0].iloc[:,[0,1,2,3,5]]
temp_1.columns = ['Cardnum','Date','Merch state','Merch description','mode_zip']
df = df.merge(temp_1, how ='left', on = ['Cardnum','Date','Merch state','Merch description'])
df['Merch zip'] = df['Merch zip'].fillna(df['mode_zip'])

In [133]:
# Left missing records 
print(df['Merch zip'].isnull().sum())
df = df.drop(columns=['mode_zip'])

4460

In [134]:
# Step 2 : Group by Merch state, Merch description, find the mode of the zip 
temp_2 = df.groupby(['Merch state','Merch description'])[['Merch zip']].apply(lambda x: x.mode()).reset_index()
temp_2 = temp_2[temp_2.level_2 == 0].iloc[:,[0,1,3]]
temp_2.columns = ['Merch state','Merch description','mode_zip']
df = df.merge(temp_2, how ='left', on = ['Merch state','Merch description'])
df['Merch zip'] = df['Merch zip'].fillna(df['mode_zip'])

In [135]:
# Left missing records 
print('After step 2,',df['Merch zip'].isnull().sum())
df = df.drop(columns=['mode_zip'])

After step 2, 2554

In [136]:
# Step 3: Group by Merch state, Merchnum, find the mode of the zip 
temp_3 = df.groupby(['Merch state','Merchnum'])[['Merch zip']].apply(lambda x: x.mode()).reset_index()
temp_3 = temp_3[temp_3.level_2 == 0].iloc[:,[0,1,3]]
temp_3.columns = ['Merch state','Merchnum','mode_zip']
df = df.merge(temp_3, how ='left', on = ['Merch state','Merchnum'])
df['Merch zip'] = df['Merch zip'].fillna(df['mode_zip'])

In [137]:
# Left missing records 
print('After step 3,',df['Merch zip'].isnull().sum())
df = df.drop(columns=['mode_zip'])

After step 3, 2522

In [138]:
# Step 4: Group by Cardnum, date, find the mode of the zip 
temp_4 = df.groupby(['Cardnum','Date'])[['Merch zip']].apply(lambda x: x.mode()).reset_index()
temp_4 = temp_4[temp_4.level_2 == 0].iloc[:,[0,1,3]]
temp_4.columns = ['Cardnum','Date','mode_zip']
df = df.merge(temp_4, how ='left', on = ['Cardnum','Date'])
df['Merch zip'] = df['Merch zip'].fillna(df['mode_zip'])

D:\anaconda\lib\site-packages\pandas\core\algorithms.py:846: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  warn(f"Unable to sort modes: {err}")

In [139]:
# Left missing records 
print(df['Merch zip'].isnull().sum())
df = df.drop(columns=['mode_zip'])

1617

In [140]:
# Step 5: Group by Merch state, find the mode of the zip 
temp_5 = df.groupby(['Merch state'])[['Merch zip']].apply(lambda x: x.mode()).reset_index()
temp_5 = temp_5[temp_5.level_1 == 0].iloc[:,[0,2]]
temp_5.columns = ['Merch state','mode_zip']
df = df.merge(temp_5, how ='left', on = ['Merch state'])
df['Merch zip'] = df['Merch zip'].fillna(df['mode_zip'])

In [141]:
# Left missing records 
print(df['Merch zip'].isnull().sum())
df = df.drop(columns=['mode_zip'])

153

In [142]:
# Step 6: Group by Cardnum, find the mode of the zip 
temp_6 = df.groupby(['Cardnum'])[['Merch zip']].apply(lambda x: x.mode()).reset_index()
temp_6 = temp_6[temp_6.level_1 == 0].iloc[:,[0,2]]
temp_6.columns = ['Cardnum','mode_zip']
df = df.merge(temp_6, how ='left', on = ['Cardnum'])
df['Merch zip'] = df['Merch zip'].fillna(df['mode_zip'])

In [143]:
# Left missing records 
print(df['Merch zip'].isnull().sum())
df = df.drop(columns=['mode_zip'])

3

In [144]:
# Check the left missing records, we found no information can help to fill these, so just fill unknown
df['Merch zip'] = df['Merch zip'].fillna('unknown')

In [145]:
# Done with Merch zip fill
df['Merch zip'].isnull().sum()

0

# Fill Merch num

In [146]:
# Original missing records
df['Merchnum'].isnull().sum()

3374

In [147]:
# Step 1: Group by Merch state, Merch zip, Merch description, find the mode of the Merchnum
temp_1 = df.groupby(['Merch state','Merch zip','Merch description'])[['Merchnum']].apply(lambda x: x.mode()).reset_index()
temp_1 = temp_1[temp_1.level_3 == 0].iloc[:,[0,1,2,4]]
temp_1.columns = ['Merch state','Merch zip','Merch description','mode_merchnum']
df = df.merge(temp_1, how ='left', on = ['Merch state','Merch zip','Merch description'])
df['Merchnum'] = df['Merchnum'].fillna(df['mode_merchnum'])

In [148]:
print(df['Merchnum'].isnull().sum())
df = df.drop(columns=['mode_merchnum'])

2249

In [149]:
# Step 2 : Group by Merch state, Merch description, find the mode of the zip 
temp_2 = df.groupby(['Merch state','Merch description'])[['Merchnum']].apply(lambda x: x.mode()).reset_index()
temp_2 = temp_2[temp_2.level_2 == 0].iloc[:,[0,1,3]]
temp_2.columns = ['Merch state','Merch description','mode_merchnum']
df = df.merge(temp_2, how ='left', on = ['Merch state','Merch description'])
df['Merchnum'] = df['Merchnum'].fillna(df['mode_merchnum'])

In [150]:
print(df['Merchnum'].isnull().sum())
df = df.drop(columns=['mode_merchnum'])

2234

In [154]:
# Step 3 : Group by Merch zip, Merch description, find the mode of the Merchnum
temp_3 = df.groupby(['Merch zip','Merch description'])[['Merchnum']].apply(lambda x: x.mode()).reset_index()
temp_3 = temp_3[temp_3.level_2 == 0].iloc[:,[0,1,3]]
temp_3.columns = ['Merch zip','Merch description','mode_merchnum']
df = df.merge(temp_3, how ='left', on = ['Merch zip','Merch description'])
df['Merchnum'] = df['Merchnum'].fillna(df['mode_merchnum'])

In [155]:
print(df['Merchnum'].isnull().sum())
df = df.drop(columns=['mode_merchnum'])

2233

In [156]:
# Step 4: Group by Merch state, find the mode of the Merchnum
temp_4 = df.groupby(['Merch state'])[['Merchnum']].apply(lambda x: x.mode()).reset_index()
temp_4 = temp_4[temp_4.level_1 == 0].iloc[:,[0,2]]
temp_4.columns = ['Merch state','mode_merchnum']
df = df.merge(temp_4, how ='left', on = ['Merch state'])
df['Merchnum'] = df['Merchnum'].fillna(df['mode_merchnum'])

In [157]:
print(df['Merchnum'].isnull().sum())
df = df.drop(columns=['mode_merchnum'])

50

In [158]:
# Step 5: Group by Merch description, find the mode of the Merchnum 
temp_5 = df.groupby(['Merch description'])[['Merchnum']].apply(lambda x: x.mode()).reset_index()
temp_5 = temp_5[temp_5.level_1 == 0].iloc[:,[0,2]]
temp_5.columns = ['Merch description','mode_merchnum']
df = df.merge(temp_5, how ='left', on = ['Merch description'])
df['Merchnum'] = df['Merchnum'].fillna(df['mode_merchnum'])

In [159]:
print(df['Merchnum'].isnull().sum())
df = df.drop(columns=['mode_merchnum'])

49

In [160]:
# Step 6: Group by Merch zip, find the mode of the Merchnum
temp_6 = df.groupby(['Merch zip'])[['Merchnum']].apply(lambda x: x.mode()).reset_index()
temp_6 = temp_6[temp_6.level_1 == 0].iloc[:,[0,2]]
temp_6.columns = ['Merch zip','mode_merchnum']
df = df.merge(temp_6, how ='left', on = ['Merch zip'])
df['Merchnum'] = df['Merchnum'].fillna(df['mode_merchnum'])

In [161]:
print(df['Merchnum'].isnull().sum())
df = df.drop(columns=['mode_merchnum'])

0

In [162]:
df=df.loc[df['Transtype']=='P']

In [163]:
df

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0
...,...,...,...,...,...,...,...,...,...,...
96747,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042,P,84.79,0
96748,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248,P,118.75,0
96749,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150,P,363.56,0
96750,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,94402,P,2202.03,0
96751,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606,P,554.64,0

In [165]:
df_clean=df.to_csv('df_clean.csv')